{% extends "base.html" %} {% block title %}Flow tables{% endblock %} {% block content
%}
<h2>Hosts</h2>
{% block hosts %}
  <table id="host_table" class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>mac address</th>
        <th>ip address</th>
        <th>Active</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for host in nodeDetailsList %}
        <tr>
          <td>{{ host[0] }}</td>
          <td>{{ host[1] }}</td>
          <td>{{ host[2] }}</td>
          <td>{{ host[3] }}</td>
          <td> 
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#host_modal" onclick="blockHost('{{  host[2]  }}')">
            <span class="glyphicon glyphicon-edit">Block</span>
           </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
<br/>

<h2>Switches</h2>
{% block Switches %}
  <table id="switch_table" class="table table-striped">
    <thead>
      <tr>
        <th>switch</th>
        <th>flow id</th>
        <th>active flows</th>
        <th>packets-looked-up</th>
        <th>packets-matched</th>
       
      </tr>
    </thead>
    <tbody>
      {% for host in switchData %}
        <tr>
          <td>{{ host[0] }}</td>
          <td>{{ host[1] }}</td>
          <td>{{ host[2] }}</td>
          <td>{{ host[3] }}</td>
          <td>{{ host[4] }}</td>
        
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


<br/>
<h2>Flow tabls</h2>
{% block flow_table %}
  <table id="flow_table" class="table table-striped">
    <thead>
      <tr>
        <th>switch</th>
        <th>flow id</th>
        <th>priority</th>
        <th>instructions</th>
      
     
      </tr>
    </thead>
    <tbody>
      {% for host in switchData %}
        {% for flow in host[5] %}
          <tr>
            <td>{{ host[0] }}</td>
            <td>{{ flow.id }}</td>
            <td>{{ flow.priority }}</td>
            <td>{{ flow.instructions }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% endblock %}
