{% extends "base.html" %} {% block title %}Flow tables{% endblock %} {% block content
%}
<div style="width: 100%; text-align: center; margin: 20px;">
<h2>Hosts</h2>
</div>
{% block hosts %}
  <table id="host_table" class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>MAC Address</th>
        <th>IP Address</th>
        <th>Active</th>
        <th>Action</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      {% for host in nodeDetailsList %}
        <tr>
          <td>{{ host[0] }}</td>
          <td>{{ host[1] }}</td>
          <td>{{ host[2] }}</td>
          <td>{{ host[3] }}</td>
          <td>
            {% if host[4] %}
            <button type="button" class="btn btn-primary" style="background-color: rgb(111, 207, 116); width: 100px;" data-toggle="modal" data-target="#host_modal" onclick="unblockHost('{{  host[2]  }}')">
            <span class="glyphicon glyphicon-edit">Unblock</span>
            {% else %}
            <button type="button" class="btn btn-primary" style="background-color: rgb(207, 111, 111); width: 100px;" data-toggle="modal" data-target="#host_modal" onclick="blockHost('{{  host[2]  }}')">
            <span class="glyphicon glyphicon-edit">Block</span>
            {% endif %}
           </td>
           <td>
            {% if host[5] >= 0%}
            <button type="button" class="btn btn-primary" style="background-color: rgb(111, 207, 116); width: 100px;" data-toggle="modal" data-target="#host_modal" onclick="rateLimit('{{  host[2]  }}')">
            <span class="glyphicon glyphicon-edit">Limit : {{host[5]}} </span>  
            {% else %}  
            <button type="button" class="btn btn-primary" style="background-color: rgb(207, 111, 111); width: 100px;" data-toggle="modal" data-target="#host_modal" onclick="rateLimit('{{  host[2]  }}')">
              <span class="glyphicon glyphicon-edit"> Limit </span>   
              {% endif %}                 
           </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
<br/>
<div style="width: 100%; text-align: center; margin: 20px;">
<h2>Switches</h2>
</div>
{% block Switches %}
  <table id="switch_table" class="table table-striped">
    <thead>
      <tr>
        <th>Switch</th>
        <th>Flow ID</th>
        <th>Active Flows</th>
        <th>Packets-Looked-Up</th>
        <th>Packets-Matched</th>
       
      </tr>
    </thead>
    <tbody>
      {% for host in switchData %}
        <tr>
          <td>{{ host[0] }}</td>
          <td>{{ host[1] }}</td>
          <td>{{ host[2] }}</td>
          <td>{{ host[3] }}</td>
          <td>{{ host[4] }}</td>
        
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


<br/>
<!-- <h2>Flow tabls</h2>
{% block flow_table %}
  <table id="flow_table" class="table table-striped">
    <thead>
      <tr>
        <th>switch</th>
        <th>flow id</th>
        <th>priority</th>
        <th>instructions</th>
      
     
      </tr>
    </thead>
    <tbody>
      {% for host in switchData %}
        {% for flow in host[5] %}
          <tr>
            <td>{{ host[0] }}</td>
            <td>{{ flow.id }}</td>
            <td>{{ flow.priority }}</td>
            <td>{{ flow.instructions }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %} -->


{% endblock %}
