{% extends "base.html" %} {% block title %}Rate Limiter{% endblock %} {% block content%}
<form method="POST">
  <h3 align="center">Rate Limit For {{ip}}</h3>
  <div class="form-group">
    <label for="rate">Rate Limit in KB/s</label>
    <input
      type="number"
      class="form-control"
      id="rate"
      name="rate"
      placeholder="100000"
      required
      min="10000"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if limited == "true" %}
<br/>
  <button type="button" class="btn btn-primary" style="background-color: rgb(207, 111, 111); width: 100px;" data-toggle="modal" data-target="#host_modal" onclick="rateReset('{{  ip  }}')">
    <span class="glyphicon glyphicon-edit">Remove Limit</span>
{% endif %}

{% endblock %}
